body{
	margin: 0 auto;
	width: 80%;
}

/* Nav Css */

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
			
li{
	float:left;
}
		
a:link,a:visited{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
		
a:hover,a:active{
	background-color:#7A991A;
}

/* Nav CSS End */



/* Contact Page */

#contactmaps{
	width: 950px;	
	height: 450px;
}

.contact_hdr{
	margin: ;
}

.comment_txt_area{
	width:500px;
	height:300px;
}

.contact_table{
	margin: 20px 120px;
}

/* Contact Page End */